/*#849db0
#1fd2b6
#ffffff  */

body {
  margin: 0;
  padding: 0;
  background-color: #ffada6;
}

.operation-row,
.buttons-place {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calculator {
  display: flex;
  flex-direction: column;
  height: 87vh;
  width: 30vw;
  background-color: #3f4d53;
  color: white;
  margin: 7vh auto auto auto;
  border: 4px solid #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  overflow: hidden;
}

.display {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 4em;
  padding: 5px;
}

.operation-row {
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 5%;
}

.operator-button:hover {
  box-shadow: inset 1px 1px 5px rgba(30, 30, 30, 0.8);
}

.operator-button:active {
  box-shadow: inset 3px 3px 5px rgba(30, 30, 30, 0.8);
}

.operator-button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid black;
  height: 100%;
  width: 100%;
  font-size: 4em;

  background-color: #849db0;
  color: #272c2e;

  transition: box-shadow 0.15s;
}

.buttons-place {
  height: 53vh;
  display: flex;
}

.numpad {
  display: flex;
  flex-wrap: wrap;

  height: 100%;
  width: 75%;

  border-radius: 10px 10px 15px 15px;
  overflow: hidden;
}

.numpad-button {
  color: #272c2e;
  background-color: #ffffff;
  flex: 1 1 32%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.numpad-button:hover {
  box-shadow: inset 2px 2px 5px rgba(55, 58, 60, 0.8);
}

.numpad-button:active {
  box-shadow: inset 3px 3px 5px rgba(55, 58, 60, 0.8);
}

.equal-sign {
  background-color: #1fd2b6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  flex-grow: 1;
  border-radius: 10px 0 0 10px;
  transition: box-shadow 0.15s;
}

.equal-sign:hover {
  box-shadow: inset 2px 2px 2px rgba(55, 58, 60, 0.8);
}

.equal-sign:active {
  box-shadow: inset 3px 3px rgba(55, 58, 60, 0.8);
}
